<ul>
{{#buttons}}
	<li><a {{#if url}}href="{{../url}}"{{/if}} class="oh-google-map-control-button small">{{#if icon}}<span data-icon="{{../icon}}"></span>{{/if}}{{#if label}} {{../label}}{{/if}}</a></li>
{{/buttons}}
</ul>