<h2>Delete Polygon?</h2>

<p>Are you sure you want to delete this polygon?</p>

<footer>
	<button type="submit" class="btn submit">Delete Polygon</button>
	<a href="#" class="cancel">Cancel</a>
</footer>