<h2>Edit Marker</h2>

<h3><label for="title">Title</label></h3>
<input type="text" name="title" value="{{title}}" id="content" class="text fullwidth" />

<h3><label for="content">Content</label></h3>
<textarea name="content" id="content" class="text fullwidth">{{content}}</textarea>

<footer>
	<button type="submit" class="btn submit">Save Changes</button>
	<a href="#" class="cancel">Cancel</a>
</footer>