<h2>Markers</h2>

<a href="#" class="cancel oh-google-map-close">&times; close</a>

<ol class="oh-google-map-ordered-list">
{{#each markers}}
	<li>{{#if this.deleted}}<span class="oh-google-map-strike-out">{{/if}}<a href="#" class="center">{{this.address}}</a>{{#if this.deleted}}</span> <a href="#" class="undo oh-google-map-small-text">Undo Delete</a>{{/if}}</li>
{{/each}}
</ol>