<div class="oh-google-map-window"></div>

<div class="oh-google-map-controls"></div>

<div class="oh-google-map-zoom-control">
	<a href="#" class="oh-google-map-control-button oh-google-map-zoom-in">&plus;</a>
	<a href="#" class="oh-google-map-control-button oh-google-map-zoom-out">&minus;</a>
</div>

<div class="oh-google-map"></div>

<textarea name="fields[{{fieldname}}]" class="field-data" style="display:none">{{savedData}}</textarea>