<div class="oh-google-map-window" style="max-height:{{height}}; overflow:auto;"></div>

<div class="oh-google-map-controls"></div>

<div class="oh-google-map-zoom-control">
	<a href="#" class="oh-google-map-control-button oh-google-map-zoom-in">&plus;</a>
	<a href="#" class="oh-google-map-control-button oh-google-map-zoom-out">&minus;</a>
</div>

<div class="oh-google-map" style="width:{{width}}; height:{{height}}"></div>

<textarea name="fields[{{fieldname}}]" class="field-data" style="display:none"></textarea>